* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/* Works on Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 8px;
} */

/* *::-webkit-scrollbar-track {
  background: rgba(9, 30, 66, 0.08);
  border-radius: 20px;
} */

/* *::-webkit-scrollbar-thumb {
  background-color: rgba(9, 30, 66, 0.12);
  border-radius: 20px;
} */
